<form novalidate (ngSubmit)="onSubmit(customerForm)" [formGroup]="customerForm">
	<div>
		<label>
			<span>Full name</span>
			<input type="text" class="input" formControlName="name">
		</label>
		<div formGroupName="address">
			<label>
				<span>Address</span>
				<input type="text" class="input" formControlName="address">
			</label>
			<label>
				<span>Post Code</span>
				<input type="text" class="input" formControlName="postcode">
			</label>
		</div>
	</div>
	<div>
		<button type="submit" [disabled]="customerForm.invalid">
			Submit
		</button>
	</div>
</form>
